@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style:none;
	font-family: Arial, sans-serif;
}

body {
	display: flex;
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: #ffb703; /*Yellow*/
	align-items: center;
	flex: 1;
	margin: 0px;
	padding: 0px;
}

.card-wrapper img {
    flex: 1 1 auto;      /* grow and shrink as needed */
    width: 100%;         /* make sure it fills horizontally */
    height: 100%;        /* make sure it fills vertically */
    object-fit: cover;   /* maintain aspect ratio while filling */
}

.login-form-card {
	text-transform: uppercase;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #c1121f; /*Red*/
	padding: 4rem;
	padding-left: 6rem;
	padding-right: 0px;
	width: 30rem;
	height: 100vh;
}

.login-form-card h1 {
	font-weight: 900;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
	color: #ffb703; /*Yellow*/
	font-size: 26px;
}

.login-form-card {
	font-weight: 800;
}

.login-form-card input {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 15vw;
	height: 4vh;
	font-weight: 800;
}

.login-form-card .inner-form {
	justify-content:flex-end;
}
.inner-form {
	color: #ffb703; /*Yellow*/
	background-color: #000000;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 44vh;
	padding-bottom: 42vh;
}

.login-form-card .inner-form button {
	margin: 0.6rem;
	width: 6vw;
	height: 5vh;
	text-transform: uppercase;
	font-weight: 900;
	color: #000000;
	background-color: #ffffff;
}


